@model KlienciSTP.Web.Models.UserWithCarViewModel
@{
    ViewBag.Title = "Dane klienta";
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<h2>Dane klienta</h2>
@Html.HiddenFor(modelItem => Model.User.Id)
<div> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Phone1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Phone2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Created)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edycja klienta", "Edit", "User", new { id = Model.User.Id }, new { data_modal = "", @class = "btn btn-default" })
    @Html.ActionLink("Powrót", "Index")
</p>
<hr />
<h2>Samochody klienta</h2>
<hr />
<p>
    @Html.ActionLink("Dodaj Samochód", "Create", "Car", new { userId = Model.User.Id }, new { data_modal = "", @class = "btn btn-default" })
</p>
@using (Html.BeginForm())
{
    <p>
        Szukaj: @Html.TextBox("carSearchString")
        <input type="submit" value="Szukaj" />
    </p>
}
@if (Model.Cars.Count > 0)
{
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Identyfikator", "Details",
                new { id = Model.User.Id, carSortOrder = ViewBag.CarIdSortParm })
                    @if (ViewBag.CarSortOrder == null)
                    {
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    }
                    else if (ViewBag.CarSortOrder == "Id_desc")
                    {
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    }
                </th>
                <th>
                    @Html.ActionLink("Marka", "Details",
                new { id = Model.User.Id, carSortOrder = ViewBag.CarMakeSortParm })
                    @if (ViewBag.CarSortOrder == "Make")
                    {
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    }
                    else if (ViewBag.CarSortOrder == "Make_desc")
                    {
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    }
                </th>
                <th>
                    @Html.ActionLink("Model", "Details",
                new { id = Model.User.Id, carSortOrder = ViewBag.CarModelSortParm })
                    @if (ViewBag.CarSortOrder == "Model")
                    {
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    }
                    else if (ViewBag.CarSortOrder == "Model_desc")
                    {
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    }
                </th>
                <th>
                    @Html.ActionLink("Numer Rejestracyjny", "Details",
                new { id = Model.User.Id, carSortOrder = ViewBag.CarRegistrationNumberSortParm })
                    @if (ViewBag.CarSortOrder == "RegistrationNumber")
                    {
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    }
                    else if (ViewBag.CarSortOrder == "RegistrationNumber_desc")
                    {
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    }
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.Cars)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationNumber)
                    </td>
                    <td>
                        @Html.ActionLink("Edycja", "Edit", "Car", new { id = item.Id }, new { data_modal = "", @class = "btn btn-default" })
                        @Html.ActionLink("Szczegóły", "Details", "Car", new { id = item.Id }, new { data_modal = "", @class = "btn btn-default" })
                        <input type="button" value="Usuń" class="btn btn-default" onclick="location.href='@Url.Action("Delete", "Car", item)'" />
                    </td>
                </tr>
            }
        </table>
    <hr />
    <h2>Przeglądy klienta</h2>
    <hr />

    <p>
        @Html.ActionLink("Dodaj przegląd", "Create", "Inspection", new { userId = Model.User.Id }, new { data_modal = "", @class = "btn btn-default" })
    </p>
    using (Html.BeginForm())
    {
        <p>
            Szukaj: @Html.TextBox("inspectionSearchString")
            <input type="submit" value="Szukaj" />
        </p>
    }
    if (Model.Inspections.Count > 0)
    {
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Id Samochodu", "Details",
                new { id = Model.User.Id, inspectionSortOrder = ViewBag.InspectionCarIdSortParm })
                @if (ViewBag.InspectionSortOrder == null)
                {
                    <span class="glyphicon glyphicon-sort-by-attributes"></span>
                }
                else if (ViewBag.InspectionSortOrder == "CarId_desc")
                {
                    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                }
            </th>
            <th>
                @Html.ActionLink("Data przeglądu", "Details",
                new { id = Model.User.Id, inspectionSortOrder = ViewBag.InspectionInspectionDateSortParm })
                @if (ViewBag.InspectionSortOrder == "InspectionDate")
                    {
                    <span class="glyphicon glyphicon-sort-by-attributes"></span>
                }
                else if (ViewBag.InspectionSortOrder == "InspectionDate_desc")
                {
                    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                }
            </th>
            <th>
                @Html.ActionLink("Komentarz", "Details",
                new { id = Model.User.Id, inspectionSortOrder = ViewBag.InspectionCommentsSortParm })
                @if (ViewBag.InspectionSortOrder == "Comments")
                    {
                    <span class="glyphicon glyphicon-sort-by-attributes"></span>
                }
                else if (ViewBag.InspectionSortOrder == "Comments_desc")
                {
                    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                }
            </th>
            <th>
                @Html.ActionLink("Okres przeglądu", "Details",
                new { id = Model.User.Id, inspectionSortOrder = ViewBag.InspectionNextInspectionYearsSortParm })
                @if (ViewBag.InspectionSortOrder == "NextInspectionYears")
                    {
                    <span class="glyphicon glyphicon-sort-by-attributes"></span>
                }
                else if (ViewBag.InspectionSortOrder == "NextInspectionYears_desc")
                {
                    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                }
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Inspections)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InspectionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextInspectionYears)
                </td>
                <td>
                    @Html.ActionLink("Edycja", "Edit", "Inspection", new { id = item.Id, userId = item.UserId }, new { data_modal = "", @class = "btn btn-default" })
                    <input type="button" value="Usuń" class="btn btn-default" onclick="location.href='@Url.Action("Delete", "Inspection", item)'" />
                </td>
            </tr>
        }
    </table>
    }
    else
    {
    <h3>Brak przypisanych przeglądów</h3>
    }
}
else
{
    <h3>Brak przypisanych samochodów</h3>
}
<hr />
<p>
@Html.ActionLink("Powrót", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/popUp")
}