@model IEnumerable<KlienciSTP.Web.Models.NotificationViewModel>

@{
    ViewBag.Title = "FutureInspections";
}

<h2>Lista najbliższych przeglądów</h2>
<hr />
@using (Html.BeginForm())
{
    <p>
        Szukaj: @Html.TextBox("SearchString")
        <input type="submit" value="Szukaj" />
    </p>
}
@if (Model.Count() > 0)
{
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Data planowanego przeglądu", "FutureInspections",
                new { SortOrder = ViewBag.InspectionDateSortParm })
            @if (ViewBag.SortOrder == null)
            {
                <span class="glyphicon glyphicon-sort-by-attributes"></span>
            }
            else if (ViewBag.SortOrder == "InspectionDate_desc")
            {
                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            }
        </th>
        <th>
            @Html.ActionLink("Marka", "FutureInspections",
                new { SortOrder = ViewBag.MakeSortParm })
            @if (ViewBag.SortOrder == "Make")
            {
                <span class="glyphicon glyphicon-sort-by-attributes"></span>
            }
            else if (ViewBag.SortOrder == "Make_desc")
            {
                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            }
        </th>
        <th>
            @Html.ActionLink("Model", "FutureInspections",
                new { SortOrder = ViewBag.ModelSortParm })
            @if (ViewBag.SortOrder == "Model")
            {
                <span class="glyphicon glyphicon-sort-by-attributes"></span>
            }
            else if (ViewBag.SortOrder == "Model_desc")
            {
                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            }
        </th>
        <th>
            @Html.ActionLink("Klient", "FutureInspections",
                new { SortOrder = ViewBag.CustomerSortParm })
            @if (ViewBag.SortOrder == "Customer")
            {
                <span class="glyphicon glyphicon-sort-by-attributes"></span>
            }
            else if (ViewBag.SortOrder == "Customer_desc")
            {
                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            }
        </th>
        <th>
            @Html.ActionLink("Dane kontaktowe", "FutureInspections",
                new { SortOrder = ViewBag.ContactDetailsSortParm })
            @if (ViewBag.SortOrder == "ContactDetails")
            {
                <span class="glyphicon glyphicon-sort-by-attributes"></span>
            }
            else if (ViewBag.SortOrder == "ContactDetails_desc")
            {
                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            }
        </th>
        <th>
            @Html.ActionLink("Komentarz przeglądu", "FutureInspections",
                new { SortOrder = ViewBag.CommentSortParm })
            @if (ViewBag.SortOrder == "Comment")
            {
                <span class="glyphicon glyphicon-sort-by-attributes"></span>
            }
            else if (ViewBag.SortOrder == "Comment_desc")
            {
                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            }
        </th>
        <th>
            @Html.ActionLink("Numer Rejestracyjny", "FutureInspections",
                new { SortOrder = ViewBag.RegistrationNumberSortParm })
            @if (ViewBag.SortOrder == "RegistrationNumber")
            {
                <span class="glyphicon glyphicon-sort-by-attributes"></span>
            }
            else if (ViewBag.SortOrder == "RegistrationNumber_desc")
            {
                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            }
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                <input type="button" value="Powiadomiony" class="btn btn-default" onclick="location.href='@Url.Action("MakeNotification", new { id = item.InspectionId , carId = -1})'" />
            </td>
        </tr>
    }
</table>
}
else
{
    <h3>Brak przeglądów</h3>
}
<hr />
<p>
    @Html.ActionLink("Powrót", "Index", "Home")
</p>