@model IEnumerable<KlienciSTP.Web.Models.NotificationViewModel>
@{
    ViewBag.Title = "ClientInspections";
}

<h2>Planowane przeglądy klienta</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NotifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
        </tr>
    }
</table>
<hr />
<p>
    @Html.ActionLink("Powrót", "Index", "Home")
</p>

